/.phpunit.cache
/node_modules
/public/hot
/public/sitemap.xml
/public/storage
/storage/*.key
/storage/pail
/storage/app/public/*
!/storage/app/public/.gitignore
/database/data/deployable-catalog.json
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/tisilo-*.zip
/scripts/tisilo-*.zip
/scripts/tisilo-*.tar.gz
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
